footer{
    border-top: 1px solid var(--clr-slate800);
    margin-top:100px;
    width: 100%;
    height: 100px;
}
footer .footer_list{
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: var(--size-2xl);
}
.footer_link{
    color: var(--clr-light);

}
