.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}
  .logo h3{
    cursor: pointer;
    font-size: var(--size-xl);
    font-weight: 600;
    color: var(--clr-light);
  }
  .header__menu {
    display: none;
  }
  .header__bars {
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
  }
  .search{
    position: absolute;
    width: 320px;
    height: 220px;
    top: 80px;
    z-index: 9999;
    overflow-y: auto;
}
/* scroll bar movie */
header nav  .search::-webkit-scrollbar{
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}
header nav  .search::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255, 255, 255, .4);
    border-radius: 5px;
    visibility: hidden;
}
header nav .seah_user .search:hover::-webkit-scrollbar{
    visibility: visible;
}
header nav  .search:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}


header nav  .search .card{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    /* display: none; */
}
header nav  .search .card::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

header nav  .search .card img{
    width: 30px;
    height: 80%;
    border-radius: 2px;
    margin-left: 8px;
}

header nav  .search .card .cont{
    margin-left: 10px;
    color: #fff;
}

header nav  .search .card .cont h3{
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

header nav  .search .card .cont p{
    font-size: 14px;
    color: rgb(255, 255, 255, .8);
}

header nav  .search .card .cont span{
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}

  
  /* md */
  @media (min-width: 768px) {
    
    .header__menu {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      gap: 2em;
    }
    .header__link {
      font-size: var(--size-xs);
      text-decoration: none;
      font-weight: 600;
      color: var(--clr-slate600);
      letter-spacing: -0.05em;
      transition: color 0.3s;
    }
    .header__link:hover {
      color: var(--clr-rose);
    }
    .header__line {
      border: 1px solid var(--clr-slate600);
      padding-top: 1.5em;
    }
    .header__sun {
      display: block;
      color: var(--clr-slate600);
      width: var(--size-base);
    }
    .header__login {
      font-size: var(--size-xs);
    }
    .header__bars {
      display: none;
    }
    .search_user{
      display: none;
  }
  .search{
      display: none;
  }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    
    .search_user input{
        padding: 5px 10px;
        border-radius: 20px;
        border: none;
        outline: none;
        background:rgb(255,255,255,.2);
        color: var(--clr-light);
    }
    .logo h3{
        font-size: var(--size-2xl);
    }
    .header__link {
      font-size: var(--size-sm);
    }
    .header__sun {
      width: var(--size-xl);
      height: var(--size-xl);
    }
    .header__login{
      font-size: var(--size-sm);
    }
    .search_user{
      display: block;
  }
    .search{
      display: none;
    }
 
  }
  
  /* xl */
  /* @media (min-width: 1280px) { } */
  
  /* 2xl */
  /* @media (min-width: 1536px) {  } */
  