
.ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ticket_title{
    font-size: var(--size-3xl);
    color: var(--clr-slate400);
}

.cardWrap {
  width: 24em;
  margin: 0px auto;
  color: #fff;
}

.card {
  background: linear-gradient(to bottom, var(--clr-red) 0%, var(--clr-red) 26%, var(--clr-grey) 26%, var(--clr-grey) 100%);
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top: 100px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
}

.cardRight {
  width: 7.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
  bottom: -.4em;
  }
}

h1 {
  font-size: 1.1em;
  margin-top: 0;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
}
.description {
    font-size: 1em;
    color: #525252;
    margin: 0;
   }
  .des1 {
    font-size: .9em;
    color: #a2aeae;
  }


.title {
  margin: .5em 0 .5em 0;
}


.seat, .time {
  float: left;
}

.eye {
  position: relative;
  width: 2em;
  height: 1.5em;
  background: #fff;
  margin: 0 auto;
  border-radius: 1em/0.6em;
  z-index: 1;
  &:before, &:after {
    content:"";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  &:before {
    width: 1em;
    height: 1em;
    background: var(--clr-red);
    z-index: 2;
    left: 8px;
    top: 4px;
  }
  &:after {
  width: .5em;
  height: .5em;
  background: #fff;
  z-index: 3;
  left: 12px;
  top: 8px;
  }
}

.number {
  text-align: center;
  text-transform: uppercase;
}
.number   h3 {
    color: var(--clr-red);
    margin: 10px 0 0 0;
    font-size: 2em;
    
}
.number span {
    display: block;
    color: #a2aeae;
  }

.barcode {
  height: 2em;
  width: 0;
  margin: 1.2em 0 0 .8em;
  box-shadow: 1px 0 0 1px var(--clr-black),
  5px 0 0 1px var(--clr-black),
  10px 0 0 1px var(--clr-black),
  11px 0 0 1px var(--clr-black),
  15px 0 0 1px var(--clr-black),
  18px 0 0 1px var(--clr-black),
  22px 0 0 1px var(--clr-black),
  23px 0 0 1px var(--clr-black),
  26px 0 0 1px var(--clr-black),
  30px 0 0 1px var(--clr-black),
  35px 0 0 1px var(--clr-black),
  37px 0 0 1px var(--clr-black),
  41px 0 0 1px var(--clr-black),
  44px 0 0 1px var(--clr-black),
  47px 0 0 1px var(--clr-black),
  51px 0 0 1px var(--clr-black),
  56px 0 0 1px var(--clr-black),
  59px 0 0 1px var(--clr-black),
  64px 0 0 1px var(--clr-black),
  68px 0 0 1px var(--clr-black),
  72px 0 0 1px var(--clr-black),
  74px 0 0 1px var(--clr-black),
  77px 0 0 1px var(--clr-black),
  81px 0 0 1px var(--clr-black);
}
.confirm{
  margin-top: 15px;
  color: var(--clr-light);
}
.bill_btn{
    margin-top: 18px;
}

/* xs */
/* @media (min-width: 475px) {  } */
/* sm */
/* @media (min-width: 640px) {  } */
/* md */
/* @media (min-width: 768px) {  } */
/* lg */
@media (min-width: 1024px) { 
  .cardWrap {
    width: 28em;
    margin: 0px auto;
    color: #fff;
  }
  
  .card {
    height: 15em;
    padding: 1.5em;
    margin-top: 120px;
  }
  
  .cardLeft {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 18em;
  }
  
  .cardRight {
    width: 10em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
h1 {
  font-size: 1.5em;
}

.description {
    font-size: 1em;
   }
.des1 {
    font-size: 1em;  }


.title {
  margin: 20px 0 20px 0;
}
.number   h3 {
  margin: 20px 0 0 0;
  
}




 }
/* xl */
/* @media (min-width: 1280px) {  } */
/* 2xl */
/* @media (min-width: 1536px) {  } */
